<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Alerts e.g. approaching your limit</title>
<link href="deal_email.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">

				<!-- BarLift logo -->
				<table width="100%">
					<tr>
						<td class="aligncenter content-block"><img src="http://www.barliftapp.com/images/logo.png"/></td>
					</tr>
				</table>

				<table class="main" width="100%" cellpadding="0" cellspacing="0">
					<!-- thank you -->
					<tr>
						<td class="content-wrap">
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td class="aligncenter content-block">
										<h4>Thanks for using BarLift, Paririe Moon</h4>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<!-- deal date -->
					<tr>
						<td class="label label-orange">
							Your deal on Thursday, February 5th 2015
						</td>
					</tr>
					<!-- main content -->
					<tr>
						<td class="content-wrap">
							<table width="100%" cellpadding="0" cellspacing="0">
								<!-- deal stats -->
								<tr></tr>
								<tr>
									<td class="aligncenter content-block">
										<h4>Deal Summary</h4>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										Push sent: 5pm, February 5th 2015
									</td>
								</tr>
								<tr>
									<td class="content-block">
										Number of people reached: 756
									</td>
								</tr>
								<tr>
									<td class="content-block">
										Number of people reached interested: 77
									</td>
								</tr>
								<!-- feedback -->
								<tr>
									<td class="aligncenter content-block">
										<h4>Feedback</h4>
									</td>
								</tr>
								<tr>
									<td class="aligncenter content-block">
										Help us improve by rating your deal and get 20% off on this month's subscription:
									</td>
								</tr>
								<tr>
									<td class="aligncenter content-block">	
										<a href="http://barliftdev.herokuapp.com/#/bar_feedback/7VqGxCoyBd" class="btn-primary">Feedback</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
